.table-heads{
  position: relative;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 16px;
  color: #EAF1F2;
}
.arrow-up{
  margin-left: 55px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid rgba(228, 203, 203, 1);
  margin-bottom: 5px;
  cursor: pointer;
}
.arrow-down{
  margin-left: 55px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid rgba(228, 203, 203, 1);
  cursor: pointer;
  margin-bottom: 0px;
}
.arrow-up:hover{
  border-bottom: 6px solid #fff;
}
.arrow-down:hover{
  border-top: 6px solid #fff;
}
.sorting-up-down{
  position: absolute;
  margin-left: -50px;
  margin-top: -2px;
  width: 80px;
  height: 30px;
  background: rgba(228, 203, 203, .3);
  border: none;
  border-radius: 4px;
}
.name-column{
  font-weight: bold;
}
.index-column{
  color: #838383;
}
.mass-column{
  min-width: 120px;
}
.table td{
  padding: 15px 10px !important;
}
tr:hover,
.table-striped tbody tr:nth-of-type(odd):hover  {
  background-color: rgba(218,100,224,.3);
}
.table td, .table th {
  border-top: none !important;
}

table th:nth-child(2){
  position: sticky;
  position: -webkit-sticky;
  background-color: rgba(218,100,224,1);
  z-index: 1;
  left: 0px;
}
table td:nth-child(2){
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  left: 0px;
  background: white;
  width: 179px;
}
